<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <img src="{{ theme_url }}/image/logo.png" alt="Оптика от Глеба" class="footer__logo">

      <div class="footer__info">
        <nav class="footer__nav">
          <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="#!">Изготовление очков</a></li>
            <li><a href="#!">О магазине</a></li>
            <li><a href="#!">Акции</a></li>
            <li><a href="#!">Оплата и доставка</a></li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>

        <div class="footer__social">
          <h6 class="footer__title">Соц. сети</h6>
          <ul>
            <li><img src="{{ theme_url }}/image/icons/vk.png" alt="ВКонтакте"></li>
            <li><img src="{{ theme_url }}/image/icons/inst.png" alt="Инстаграм"></li>
          </ul>
        </div>

        <div class="footer__payment">
          <h6 class="footer__title">Способы оплаты</h6>
          <ul>
            <li><img src="{{ theme_url }}/image/icons/visa.png" alt="Visa"></li>
            <li><img src="{{ theme_url }}/image/icons/mastercard.png" alt="MasterCard"></li>
          </ul>
        </div>

        <div class="footer__contacts">
          <div class="footer__contacts-item">
            <img class="ico-pin" src="{{ theme_url }}/image/icons/pin.png" alt="г. Москва, Брянская улица 12">
            <ul>
              <li>г. Москва, Брянская улица 12</li>
              <li>Ежедневно с 10:00 до 21:00</li>
            </ul>
          </div>

          <div class="footer__contacts-item">
            <img class="ico-wa" src="{{ theme_url }}/image/icons/whatsapp.png" alt="WhatsApp">
            <img class="ico-phone" src="{{ theme_url }}/image/icons/phone.png" alt="Телефон">
            <ul>
              <li>8 (800) 775-17-91</li>
              <li>Бесплатно по РФ</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="site-info">
        <p>
          © 2020 Оптика от Глеба - это стационарный магазин с огромным ассортиментом, где очки изготавливаются за
          30 минут. Вход с паролем<br>
          Интернет-магазин "Оптика от Глеба" является интернет-проектом физического магазина оптики, который
          располагается по адресу: г.Москва, улица Брянская, дом 12.
        </p>
      </div>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/theme/optica/libs/owlcarousel/owl.carousel.min.js"></script>
<script src="catalog/view/theme/optica/js/header-carousel.min.js"></script>
<script src="catalog/view/theme/optica/js/header.min.js"></script>
<script src="catalog/view/theme/optica/js/popups.min.js"></script>
</body>
</html>