<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ theme_url }}/libs/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="{{ theme_url }}/libs/owlcarousel/owl.theme.default.min.css">
{% if home == false %}
<link href="{{ theme_url }}/stylesheet/stylesheet.css" rel="stylesheet">
{% endif %}
<link href="{{ theme_url }}/stylesheet/style.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<header class="header" itemscope itemtype="http://schema.org/Organization">
  <div class="container">
    <nav class="header__nav">
      <div class="header__nav-item"><a class="header__nav-link" href="index.html">Главная</a></div>
      <div class="header__nav-item"><a class="header__nav-link" href="#!">Изготовление очков</a></div>
      <div class="header__nav-item"><a class="header__nav-link" href="#!">О магазине</a></div>
      <div class="header__nav-item"><a class="header__nav-link" href="#!">Акции</a></div>
      <div class="header__nav-item"><a class="header__nav-link" href="#!">Оплата и доставка</a></div>
      <div class="header__nav-item"><a class="header__nav-link" href="contacts.html">Контакты</a></div>
    </nav>

    <div class="header__info">
      <div class="logo">
        <a href="index.html"><img src="{{ theme_url }}/image/logo.png" alt="Оптика от Глеба"></a>
      </div>

      <div class="header__info-contacts">
        <div class="header__info-contacts__item">
          <img class="ico-pin" src="{{ theme_url }}/image/icons/pin.png" alt="г. Москва, Брянская улица 12">
          <ul>
            <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="addressLocality">г. Москва</span>,
              <span itemprop="streetAddress">Брянская улица 12</span>
            </li>
            <li>Ежедневно с 10:00 до 21:00</li>
          </ul>
        </div>

        <div class="header__info-contacts__item">
          <img class="ico-wa" src="{{ theme_url }}/image/icons/whatsapp.png" alt="WhatsApp">
          <img class="ico-phone" src="{{ theme_url }}/image/icons/phone.png" alt="Телефон">
          <ul>
            <li><a href="tel: +74956418866"><span itemprop="telephone">+7 (495) 641-88-66</span></a></li>
          </ul>
        </div>
      </div>

      <div class="header__info-actions">
        <div class="ico-cart__wrapper">
          <a href="cart.html"><img class="ico-cart" src="{{ theme_url }}/image/icons/basket.png" alt="Корзина"></a>
        </div>
        <img class="ico-heart" src="{{ theme_url }}/image/icons/heart.png" alt="Избранное">
        <a href="#loginPopup" class="popup-link"><img class="ico-user" src="{{ theme_url }}/image/icons/user.png" alt="Профиль"></a>
      </div>
    </div>

    <div class="header__catalog">
      <div class="header__catalog-wrapper">
        <div class="header__catalog-button">
          <div class="burger"><span></span></div>
          <span>Каталог</span>
        </div>

        <div class="header__catalog-menu menu">
          <ul>
            <li><a href="#!">Очки</a></li>
            <li><a href="#!">Мужские</a></li>
            <li><a href="#!">Женские</a></li>
            <li><a href="#!">Детские</a></li>
            <li><a href="#!">Солнцезащитные</a></li>
            <li><a href="#!">С диоптриями</a></li>
            <li><a href="#!">Компьютерные</a></li>
            <li><a href="#!">Водительские</a></li>
            <li><a href="#!">Для чтения</a></li>
          </ul>
          <ul>
            <li><a href="#!">Оправы</a></li>
            <li><a href="#!">Мужские</a></li>
            <li><a href="#!">Женские</a></li>
            <li><a href="#!">Детские</a></li>
            <li><a href="#!">Круглые</a></li>
            <li><a href="#!">Необычные</a></li>
            <li><a href="#!">Пластмассовые</a></li>
            <li><a href="#!">Алюминиевые</a></li>
            <li><a href="#!">Медицинские</a></li>
          </ul>
          <ul>
            <li><a href="#!">Линзы</a></li>
            <li><a href="#!">Готовые</a></li>
          </ul>
          <ul>
            <li><a href="#!">Аксессуары</a></li>
            <li><a href="#!">Футляры</a></li>
          </ul>
        </div>
      </div>

      <div class="header__search-wrapper">
        <input class="header__search" type="text" placeholder="Поиск...">

        <div class="header__search-hint search-hint">
          <div class="search-hint__catalog">
            <div class="search-hint__column">
              <h5 class="search-hint__column-title">Очки</h5>
              <ul class="search-hint__column-items">
                <li><a href="#!">Мужские</a></li>
                <li><a href="#!">Водительские</a></li>
                <li><a href="#!">Женские</a></li>
                <li><a href="#!">Для чтения</a></li>
                <li><a href="#!">Детские</a></li>
                <li><a href="#!">С диоптриями</a></li>
                <li><a href="#!">Солцезащитные</a></li>
                <li><a href="#!">Компьютерные</a></li>
              </ul>
            </div>

            <div class="search-hint__column">
              <h5 class="search-hint__column-title">Оправы</h5>
              <ul class="search-hint__column-items">
                <li><a href="#!">Мужские</a></li>
                <li><a href="#!">Необычные</a></li>
                <li><a href="#!">Женские</a></li>
                <li><a href="#!">Пластмассовые</a></li>
                <li><a href="#!">Детские</a></li>
                <li><a href="#!">Алюминиевые</a></li>
                <li><a href="#!">Круглые</a></li>
                <li><a href="#!">Медицинские</a></li>
              </ul>
            </div>
          </div>

          <div class="search-hint__sections">
            <a href="#!"><div class="search-hint__section search-hint__section_lenses"></div></a>

            <a href="#!"><div class="search-hint__section search-hint__section_cases"></div></a>
          </div>
        </div>
      </div>
    </div>

    {% if home == true %}
    <div class="header__carousel">
      <div class="owl-carousel" id="headerCarousel">
        <img src="{{ theme_url }}/image/header/banner.png" alt="Оправы за 800 рублей">
        <img src="{{ theme_url }}/image/header/banner.png" alt="Оправы за 800 рублей">
        <img src="{{ theme_url }}/image/header/banner.png" alt="Оправы за 800 рублей">
      </div>

      <div class="header__carousel-controls">
        <div class="prev" id="headerSliderPrev"><img src="{{ theme_url }}/image/controls/prev.png" alt="Предыдующий слайд"></div>
        <div class="next" id="headerSliderNext"><img src="{{ theme_url }}/image/controls/next.png" alt="Следующий слайд"></div>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="header-onscroll hide">
    <div class="container">
      <div class="header-onscroll__wrapper">
        <h2 class="header-onscroll__title" itemprop="name">Оптика от Глеба</h2>

        <div class="header-onscroll__tools">
          <a href="#loginPopup" class="popup-link">
            <img class="ico-user_white" src="{{ theme_url }}/image/icons/user-white.png" alt="Профиль">
          </a>
          <img class="ico-heart_white" src="{{ theme_url }}/image/icons/heart-white.png" alt="Избранное">
          <div class="header-onscroll__basket">
            <a href="cart.html">Корзина</a>
            <div class="ico-cart__wrapper">
              <a href="cart.html"><img src="{{ theme_url }}/image/icons/basket.png" alt="Корзина"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>