{{ header }}
<div class="waves">
  <div class="catalog">
    <div class="container">
      <div class="catalog__container">
        <a href="products.html"><div class="catalog__item catalog__item_glasses"></div></a>
        <a href="products.html"><div class="catalog__item catalog__item_lenses"></div></a>
        <a href="products.html"><div class="catalog__item catalog__item_rims"></div></a>
        <a href="products.html"><div class="catalog__item catalog__item_cases"></div></a>
      </div>
    </div>
  </div>
  <section class="testimonials">
    <div class="container">
      <h3 class="testimonials__title section__title">Наши преимущества</h3>

      <div class="testimonials__wrapper">
        <div class="testimonials__item">
          <img src="{{ theme_url }}/image/testimonials/tick.png" alt="15 лет успешной работы">
          <span class="testimonials__description">15 лет успешной работы</span>
        </div>

        <div class="testimonials__item">
          <img src="{{ theme_url }}/image/testimonials/clock.png" alt="Очки изготавливаются за 30 минут">
          <span class="testimonials__description">Очки изготавливаются за 30 минут</span>
        </div>

        <div class="testimonials__item">
          <img src="{{ theme_url }}/image/testimonials/percent.png" alt="При заказе через Почту России-скидка 10%">
          <span class="testimonials__description">При заказе через Почту России-скидка 10%</span>
        </div>

        <div class="testimonials__item">
          <img src="{{ theme_url }}/image/testimonials/house.png" alt="Возможность примерки до 100 оправ на дому">
          <span class="testimonials__description">Возможность примерки до 100 оправ на дому</span>
        </div>
      </div>
    </div>
  </section>
  <section class="recommendation">
    <div class="container">
      <h3 class="recommendation__title section__title">Рекомендуем</h3>

      <div class="recommendation__glasses glasses">
        <div class="glasses__item">
          <div class="glasses__item-thumb">
            <img src="{{ theme_url }}/image/recommendation/glasses1.jpg" alt="">
            <img class="glasses__to-favorites" src="{{ theme_url }}/image/icons/heart.png" alt="В избранное">
          </div>
          <div class="glasses__item-description">
            <ul>
              <li>Очки ЕАЕ</li>
              <li>Модель: В543С1</li>
            </ul>
            <span>720 руб.</span>
          </div>
          <a href="#!" class="glasses__item-btn">В корзину</a>
        </div>

        <div class="glasses__item">
          <div class="glasses__item-thumb">
            <img src="{{ theme_url }}/image/recommendation/glasses2.jpg" alt="">
            <img class="glasses__to-favorites" src="{{ theme_url }}/image/icons/heart.png" alt="В избранное">
          </div>
          <div class="glasses__item-description">
            <ul>
              <li>Оправа BELLESSA</li>
              <li>Модель: SB-XSA 3093 C3</li>
            </ul>
            <span>2800 руб.</span>
          </div>
          <a href="#!" class="glasses__item-btn">В корзину</a>
        </div>

        <div class="glasses__item">
          <div class="glasses__item-thumb">
            <img src="{{ theme_url }}/image/recommendation/glasses3.jpg" alt="">
            <img class="glasses__to-favorites" src="{{ theme_url }}/image/icons/heart.png" alt="В избранное">
          </div>
          <div class="glasses__item-description">
            <ul>
              <li>Солнцезащитные очки Dior</li>
              <li>Модель: Dior NOBLE2 807A</li>
            </ul>
            <span>3500 руб.</span>
          </div>
          <a href="#!" class="glasses__item-btn">В корзину</a>
        </div>

        <div class="glasses__item">
          <div class="glasses__item-thumb">
            <img src="{{ theme_url }}/image/recommendation/glasses4.jpg" alt="">
            <img class="glasses__to-favorites" src="{{ theme_url }}/image/icons/heart.png" alt="В избранное">
          </div>
          <div class="glasses__item-description">
            <ul>
              <li>Оправа MIU MIU</li>
              <li>Модель: VMU 04MV 501/101</li>
            </ul>
            <span>3500 руб.</span>
          </div>
          <a href="#!" class="glasses__item-btn">В корзину</a>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="reviews">
  <div class="container">
    <h3 class="section__title reviews__title">Отзывы</h3>

    <div class="reviews__wrapper">
      <img src="{{ theme_url }}/image/vk.png" alt="VK">
    </div>
  </div>
</section>
<div class="waves__footer">
  <section class="subscribe">
    <div class="container">
      <div class="subscribe__wrapper">
        <h3 class="subscribe__title section__title">Подпишись на рассылку</h3>
        <h5 class="subscribe__subtitle">чтоб не пропустить новую коллекцию,<br>акцию или скидку</h5>
        <form class="subscribe__form">
          <input class="subscribe__input" type="text" name="userEmail" id="userEmail" placeholder="Введите e-mail">
          <a class="subscribe__btn" href="#!">Подписаться</a>
        </form>
      </div>
    </div>
  </section>
  {{ footer }}
</div>
<div class="cb-widget">
  <svg width="240px" height="240px">
    <g id="cb-ico-group">
      <circle id="cb-ico" cx="120" cy="120" r="40" fill="#ff5722" opacity="1" />
      <circle id="cb-icons-bg" cx="120" cy="120" r="120" fill="#ff5722" />

      <g id="cb-loading">
        <circle cx="105" cy="120" r="4" fill="white" />
        <circle cx="120" cy="120" r="4" fill="white" />
        <circle cx="135" cy="120" r="4" fill="white" />
      </g>
    </g>

    <g id="cb-social-icons">
      <a href="#!">
        <image class="cb-social-icon" id="cb-ico-whatsapp" xlink:href="{{ theme_url }}/image/svg/whatsapp.svg" wigth="60" height="60"
               x="90"
               y="90" />
      </a>
      <a href="#!">
        <image class="cb-social-icon" id="cb-ico-viber" xlink:href="{{ theme_url }}/image/svg/viber.svg" wigth="60" height="60"
               x="90"
               y="90" />
      </a>
      <a href="#!">
        <image class="cb-social-icon" id="cb-ico-telegram" xlink:href="{{ theme_url }}/image/svg/telegram.svg" wigth="60" height="60"
               x="90"
               y="90" />
      </a>
    </g>
  </svg>
</div>
<div class="popup" id="loginPopup">
  <div class="popup__body">
    <div class="popup__content login-popup__content">
      <a href="#!" class="popup__close">

        <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="28px" height="28px">
          <image  x="0px" y="0px" width="28px" height="28px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAmVBMVEUmxtr///8mxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtomxtr///977qU/AAAAMXRSTlMAANDgIRff1vvtIhvkI+7n9Swa5iggGfQrKejzKhgKAtzXC9XYE9IIHOLdEOwk/OPbkfvz3AAAAAFiS0dEAf8CLd4AAAAHdElNRQfkCQMMLRRtTkldAAABBElEQVQoz22T53aDMAxG5UQZEEpI0jY00JE9uqL3f7lY8sCA/Y9zzyf5WgIGQ4TwKHdG4wlMKUljcJYRwVNOCfbhaE7FAgATyrELlysqnpX+fMnDysJeV7QuFUNIw6wwXfNNGQgYZLlmJjkLw776LhuTc5Ar2yw7VLUKoVSW7LvuZ5mHrvJMHLpQjD4+tUOt+pD7fm3dXboQdnuiw1HFIZyIJuc4vGR0vWmjGGSH7zMb9aE4WKMu5DnUzihtQ5mDeb60yRqm51CV7uHRZ81dNi4nI/N9rUNVh8PGxGTdHNprgsbIO7QXDH+4MrN1k/OryUa/UDR3aS217vsH+/8y/jvg9f4AxnkYUyRjC5YAAAAASUVORK5CYII=" />
        </svg>
      </a>

      <h3 class="login-popup__title">Вход в личный кабинет</h3>

      <form class="login-popup__form">
        <input type="email" placeholder="Введите ваш E-MAIL">
        <input type="password" placeholder="Введите ваш пароль">
        <input class="login-popup__button" type="button" value="Войти">
      </form>

      <a class="login-popup__registration" href="registration.html">Регистрация</a>
    </div>
  </div>
</div>