{% if categories %}
  <div class="catalog">
    <div class="container">
      <div class="catalog__container">
        <a href="products.html"><div class="catalog__item catalog__item_glasses"></div></a>
        <a href="products.html"><div class="catalog__item catalog__item_lenses"></div></a>
        <a href="products.html"><div class="catalog__item catalog__item_rims"></div></a>
        <a href="products.html"><div class="catalog__item catalog__item_cases"></div></a>
      </div>
    </div>
  </div>
{% endif %} 