@charset "UTF-8";

/* montserrat-regular - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/montserrat-v14-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v14-cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v14-cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v14-cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

body.lock {
  overflow: hidden;
  margin-left: -15px;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.waves {
  background: url("../image/waves/waves.png") no-repeat;
  background-position: left 50% top 0;
  background-size: cover;
}

.waves__footer {
  margin-top: -1px;
  background: url("../image/waves/waves3.png") no-repeat top;
  background-size: contain;
}

.waves__shares {
  background-size: 130%;
  background-position: center;
}

.header {
  padding-top: 30px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 45px;
}

.header__nav-link {
  font-size: 16px;
  line-height: 29px;
  color: black;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.header__nav-link:hover {
  color: #26c6da;
}

.header__nav::after {
  content: '';
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #26c6da;
  margin-bottom: 25px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.header__info .logo {
  margin-right: 115px;
}

.header__info-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.header__info-contacts__item:last-child {
  margin-right: 60px;
}

.header__info-contacts__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__info-contacts__item ul li:first-child {
  font-weight: bold;
  font-size: 16px;
}

.header__info-contacts__item ul li {
  line-height: 1.5;
  font-size: 14px;
}

.header__info-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ico-pin {
  width: 22px;
  height: 36px;
  margin-right: 19px;
}

.ico-wa {
  width: 39px;
  height: 39px;
  margin-right: 15px;
}

.ico-phone {
  width: 32px;
  height: 32px;
  margin-right: 21px;
}

.ico-cart {
  width: 39px;
  height: 37px;
  margin-right: 14px;
}

.ico-cart__wrapper {
  position: relative;
}

.ico-cart__wrapper::after {
  content: '1';
  display: block;
  color: white;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  font-family: Arial, serif;
  position: absolute;
  bottom: -5px;
  right: 9px;
  width: 19px;
  height: 19px;
  background-color: #ff5722;
  border-radius: 50%;
}

.ico-heart {
  width: 38px;
  height: 35px;
  margin-right: 14px;
}

.ico-user {
  width: 37px;
  height: 37px;
}

.header__catalog {
  display: grid;
  grid-template-columns: 2fr 9fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 115px;
     -moz-column-gap: 115px;
          column-gap: 115px;
}

.header__catalog-wrapper {
  cursor: pointer;
  position: relative;
}

.header__catalog-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.header__catalog-menu.menu.open {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.header__catalog-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__catalog-button .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 38px;
  height: 28px;
  position: relative;
  margin-right: 15px;
}

.header__catalog-button .burger span {
  width: 100%;
  height: 3px;
  background-color: #26c6da;
  border-radius: 10px;
}

.header__catalog-button .burger::before,
.header__catalog-button .burger::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #26c6da;
  border-radius: 10px;
}

.header__catalog-button span {
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  color: #26c6da;
}

.header__catalog .header__search {
  width: 100%;
  border: 3px solid #26c6da;
  padding: 6px 20px;
  border-radius: 20px;
  font: bold 16px/1 "Montserrat", sans-serif;
}

.header__catalog .header__search:active + .header__search-hint,
.header__catalog .header__search:focus + .header__search-hint {
  visibility: visible;
  opacity: 1;
}

.header__search-wrapper {
  position: relative;
}

.header__search-hint {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.search-hint {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 25px 40px;
  -webkit-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 3;
  width: 100%;
}

.search-hint__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.search-hint__column:first-child {
  margin-right: 100px;
}

.search-hint__column-title {
  font-weight: bold;
  margin-bottom: 40px;
}

.search-hint__column-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.search-hint__column-items li:not(:nth-last-child(-n+2)) {
  margin-bottom: 35px;
}

.search-hint__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-hint__section {
  width: 346px;
  height: 96px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  position: relative;
}

.search-hint__section::after {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #26c6da;
}

.search-hint__section_lenses {
  background: #f3f6fb url("../image/catalog/lenses.jpg") no-repeat right;
  background-size: 75%;
  margin-right: 65px;
}

.search-hint__section_lenses::after {
  content: 'Линзы';
}

.search-hint__section_cases {
  background: #e9ecf6 url("../image/catalog/cases.jpg") no-repeat;
  background-size: 75%;
  background-position: top 38% right -50px;
}

.search-hint__section_cases::after {
  content: 'Футляры';
}

.menu {
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px 70px;
}

.menu ul li:not(:last-child) {
  margin-bottom: 35px;
}

.menu ul li:first-child {
  margin-bottom: 45px;
  font-weight: bold;
}

.header__carousel {
  margin-top: 55px;
  position: relative;
}

.header__carousel-controls {
  position: absolute;
  top: 50%;
  left: 13px;
  right: 13px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.header__carousel-controls .prev,
.header__carousel-controls .next {
  cursor: pointer;
}

.header-onscroll {
  position: fixed;
  z-index: 25;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #26c6da;
  padding: 8px 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 1;
  visibility: visible;
}

.header-onscroll.hide {
  opacity: 0;
  visibility: hidden;
}

.header-onscroll__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-onscroll__title {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.header-onscroll__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-onscroll__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 2px 15px 2px 10px;
  border-radius: 17px;
  cursor: pointer;
}

.header-onscroll__basket a {
  color: #26c6da;
  font-weight: bold;
  margin-right: 10px;
}

.header-onscroll .ico-user_white {
  height: 37px;
  width: 37px;
  margin-right: 10px;
  cursor: pointer;
}

.header-onscroll .ico-heart_white {
  width: 38px;
  height: 35px;
  margin-right: 20px;
  cursor: pointer;
}

.header-onscroll .ico-cart__wrapper::before {
  right: -10px;
}

.catalog {
  padding-top: 55px;
  margin-bottom: 110px;
}

.catalog__container {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.catalog__item {
  height: 172px;
  border-radius: 20px;
  border: 3px solid #26c6da;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.catalog__item::after {
  content: 'Очки';
  display: inline;
  position: absolute;
  top: 20px;
  right: 10px;
  font-weight: bold;
  font-size: 28px;
  color: #26c6da;
}

.catalog__item_glasses {
  background-image: url("../image/catalog/glasses.jpg");
  background-position: left -45px top -10px;
  background-size: 135%;
}

.catalog__item_glasses:hover {
  background-position: left -55px top -20px;
  background-size: 145%;
}

.catalog__item_lenses {
  background-image: url("../image/catalog/lenses.jpg");
  background-position: left -45px top 0;
  background-size: 120%;
}

.catalog__item_lenses:hover {
  background-position: left -55px top -10px;
  background-size: 130%;
}

.catalog__item_lenses::after {
  content: 'Линзы';
}

.catalog__item_rims {
  background-image: url("../image/catalog/rims.jpg");
  background-position: left -50px top 0;
  background-size: 175%;
}

.catalog__item_rims::after {
  content: 'Оправы';
}

.catalog__item_rims:hover {
  background-position: left -60px top -10px;
  background-size: 185%;
}

.catalog__item_cases {
  background-color: #e7ebf9;
  background-image: url("../image/catalog/cases.jpg");
  background-position: left -35px top 15px;
  background-size: 130%;
}

.catalog__item_cases::after {
  content: 'Футляры';
}

.catalog__item_cases:hover {
  background-position: left -45px top 5px;
  background-size: 140%;
}

.testimonials {
  margin-bottom: 110px;
}

.testimonials__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.testimonials__item {
  padding: 50px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.testimonials__item img {
  width: 125px;
  height: 125px;
  margin-bottom: 15px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.testimonials__item:hover img {
  opacity: 0;
  margin: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.testimonials__item:hover .testimonials__description {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.testimonials__item:first-child:hover .testimonials__description {
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
}

.testimonials__description {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  color: #26c6da;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.recommendation {
  height: 500px;
  margin-bottom: 110px;
}

.glasses {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.glasses__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.glasses__item-thumb {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #fff;
  border: 3px solid #26c6da;
  border-radius: 20px;
  margin-bottom: 20px;
}

.glasses__item-thumb .glasses__to-favorites {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

.glasses__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.glasses__item-description ul {
  max-width: 170px;
}

.glasses__item-description li:first-child {
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
}

.glasses__item-description li {
  font-size: 12px;
  line-height: 1.5;
}

.glasses__item-description span {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-top: 3px;
}

.glasses__item-btn {
  display: block;
  color: #ff5722;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  border: 3px solid #26c6da;
  border-radius: 16.5px;
  text-align: center;
  margin-top: auto;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.glasses__item-btn:hover {
  background-color: #26c6da;
  color: #fff;
}

.reviews {
  padding-bottom: 100px;
  background: url("../image/waves/waves2.png") no-repeat bottom;
  background-size: contain;
}

.reviews__title {
  color: #26c6da;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe {
  margin-bottom: 45px;
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  margin: 0;
}

.subscribe__subtitle {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 35px;
}

.subscribe__form {
  border: 3px solid white;
  border-radius: 20px;
  width: 475px;
  position: relative;
  background-color: #ffffff;
}

.subscribe__input {
  width: 330px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  font: bold 16px/1 "Montserrat", sans-serif;
  position: relative;
  z-index: 2;
}

.subscribe__input::-webkit-input-placeholder {
  color: #9a9a9a;
}

.subscribe__input::-moz-placeholder {
  color: #9a9a9a;
}

.subscribe__input:-ms-input-placeholder {
  color: #9a9a9a;
}

.subscribe__input::-ms-input-placeholder {
  color: #9a9a9a;
}

.subscribe__input::placeholder {
  color: #9a9a9a;
}

.subscribe__btn {
  padding: 11px 15px 11px 40px;
  border-radius: 20px;
  background-color: #26c6da;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.subscribe__btn:hover {
  background-color: #1e9faf;
}

.footer {
  padding-bottom: 130px;
}

.footer__logo {
  width: 252px;
  height: 78px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 60px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr 3fr;
  margin-bottom: 50px;
}

.footer__nav li a {
  font-size: 16px;
  color: black;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.footer__nav li a:hover {
  color: #26c6da;
}

.footer__nav li:not(:last-child) {
  margin-bottom: 30px;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social ul li:not(:last-child) {
  margin-right: 15px;
}

.footer__payment {
  margin-right: 160px;
}

.footer__payment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__payment ul li:not(:last-child) {
  margin-right: 30px;
}

.footer__contacts {
  justify-self: flex-end;
  text-align: right;
}

.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__contacts-item ul li:first-child {
  font-weight: bold;
  margin-bottom: 7px;
}

.footer__contacts-item ul li:last-child {
  font-size: 14px;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.site-info {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

body.waves {
  background-size: contain;
  background-position: bottom 41% left 0;
}

.contacts {
  margin-top: 50px;
  margin-bottom: 145px;
}

.contacts__title {
  color: black;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 350px 305px 310px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.contacts__phones-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.contacts__phones-heading img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.contacts__phones-heading p {
  line-height: 20px;
  font-weight: bold;
  max-width: 235px;
}

.contacts__phones-numbers {
  margin-bottom: 40px;
}

.contacts__phones-numbers ul li {
  font-size: 28px;
  line-height: 32px;
}

.contacts__phones-address {
  font-weight: bold;
}

.contacts__wa-heading {
  margin-bottom: 25px;
}

.contacts__wa-heading img {
  margin-right: 10px;
}

.contacts__wa-heading span {
  font-weight: bold;
}

.contacts__wa-numbers li {
  font-size: 28px;
  line-height: 32px;
}

.contacts__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__info-item img {
  margin-right: 20px;
}

.contacts__info-item ul {
  margin-top: 10px;
}

.contacts__info-item ul li:first-child {
  font-weight: bold;
  margin-bottom: 15px;
}

.contacts__info-item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__map iframe {
  width: 600px;
  height: 485px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup .popup__content {
  position: relative;
}

.popup .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.popup .popup__close {
  position: absolute;
  right: 20px;
  top: 25px;
}

.login-popup__content {
  padding: 25px 60px;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #26c6da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-popup__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-popup__form input:not([type="button"]) {
  height: 45px;
  width: 487px;
  border: 3px solid #26c6da;
  padding: 15px 20px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

.login-popup__form input:not([type="button"]):not(:last-child) {
  margin-bottom: 20px;
}

.login-popup__form input:not([type="button"])::-webkit-input-placeholder {
  color: #969696;
}

.login-popup__form input:not([type="button"])::-moz-placeholder {
  color: #969696;
}

.login-popup__form input:not([type="button"]):-ms-input-placeholder {
  color: #969696;
}

.login-popup__form input:not([type="button"])::-ms-input-placeholder {
  color: #969696;
}

.login-popup__form input:not([type="button"])::placeholder {
  color: #969696;
}

.login-popup__button {
  width: 360px;
  height: 50px;
  background-color: #26c6da;
  border-radius: 20px;
  border: 3px solid #26c6da;
  font-weight: bold;
  font-size: 28px;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.login-popup__button:hover {
  background-color: #fff;
  color: #26c6da;
}

.login-popup__registration {
  text-decoration: underline;
}

.upload-popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 55px 55px 85px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  width: 1060px;
}

.upload-popup__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 440px;
          flex: 0 0 440px;
  width: 100%;
  height: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border: 3px solid #26c6da;
  border-radius: 20px;
  position: relative;
}

.upload-popup__photo::before {
  content: 'Перетащите сюда ваше фото';
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.upload-popup__instruction {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}

.upload-popup__instruction p {
  margin-bottom: 50px;
  line-height: 30px;
}

.upload-popup__instruction input {
  display: none;
}

.upload-popup__instruction label {
  cursor: pointer;
  width: 100%;
  height: 43px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  font-weight: bold;
  color: #858484;
  padding-left: 15px;
  background-size: 9%;
  background: url("../image/icons/dots.png") no-repeat right 5px center;
}

.upload-popup__instruction span {
  display: inline-block;
  margin-bottom: 20px;
}

.upload-popup__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 224px;
  width: 294px;
  border: 3px solid #26c6da;
  border-radius: 20px;
}

.logout-popup__content {
  padding: 40px 70px;
  background-color: #fff;
  border: 3px solid #26c6da;
  border-radius: 20px;
  width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logout-popup__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: center;
}

.logout-popup__btns > a.popup__close_btn {
  position: relative;
  right: unset;
  top: unset;
}

.logout-popup__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.logout-popup__btns a {
  display: block;
  width: 170px;
  line-height: 67px;
  font-weight: bold;
  border: 3px solid #26c6da;
  border-radius: 20px;
  font-size: 28px;
  text-align: center;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.logout-popup__btns a:hover {
  background-color: #26c6da;
  color: white;
}

.cb-widget {
  position: fixed;
  bottom: -60px;
  right: -60px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  z-index: 15;
}

#cb-icons-bg {
  opacity: .3;
  -webkit-transform: scale(0.3) translate(115%, 115%);
      -ms-transform: scale(0.3) translate(115%, 115%);
          transform: scale(0.3) translate(115%, 115%);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

svg:hover #cb-icons-bg {
  -webkit-transform: scale(1) translate(0, 0);
      -ms-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
}

svg:hover #cb-social-icons {
  visibility: visible;
  opacity: 1;
}

svg:hover #cb-ico-whatsapp {
  -webkit-transform: translate(-50px, -60px);
      -ms-transform: translate(-50px, -60px);
          transform: translate(-50px, -60px);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

svg:hover #cb-ico-viber {
  -webkit-transform: translate(-80px, 15px);
      -ms-transform: translate(-80px, 15px);
          transform: translate(-80px, 15px);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

svg:hover #cb-ico-telegram {
  -webkit-transform: translate(20px, -80px);
      -ms-transform: translate(20px, -80px);
          transform: translate(20px, -80px);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

svg:hover .cb-social-icon {
  opacity: 1;
  visibility: visible;
}

svg:hover #cb-loading {
  opacity: 0;
}

#cb-social-icons {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.cb-social-icon {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#cb-loading {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

#cb-loading circle {
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#cb-loading circle:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#cb-loading circle:last-child {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  10% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes loading {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  10% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.filter {
  margin-bottom: 55px;
  margin-top: 30px;
}

.filter__container {
  max-width: 1005px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 15px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  margin: auto;
}

.filter__filters {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__filters img {
  margin-right: 10px;
}

.filter__filters span {
  color: #26c6da;
  font-weight: bold;
}

.filter__sort {
  margin-right: 350px;
  position: relative;
}

.filter__sort:hover .filter__sort-menu {
  visibility: visible;
  opacity: 1;
}

.filter__sort > span {
  position: relative;
  cursor: pointer;
}

.filter__sort > span::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #000;
  width: 100%;
}

.filter__sort > span::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 5px;
  right: -20px;
  height: 12px;
  width: 12px;
  border: 2px solid #26c6da;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filter__sort-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -75px;
  left: 0;
  padding: 10px 20px 10px 20px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  background-color: #fff;
  z-index: 3;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.filter__sort-menu li:not(:last-child) {
  margin-bottom: 10px;
}

.filter__sort-menu li span {
  cursor: pointer;
  position: relative;
}

.filter__sort-menu li span::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #000;
  width: 100%;
}

.filter__slider {
  position: relative;
}

.filter__slider::before {
  content: 'Цена:';
  position: absolute;
  left: -120px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#slider {
  width: 240px;
}

#input-number,
#input-number2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  color: #ff5722;
  font-weight: bold;
}

#input-number {
  right: -90px;
}

#input-number2 {
  left: -60px;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-connect {
  background: #26c6da;
}

.noUi-horizontal .noUi-handle,
.noUi-horizontal {
  height: 3px;
}

.noUi-target {
  border: none;
  background-color: #26c6da;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.noUi-connects {
  border-radius: 0;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #26c6da;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.noUi-horizontal .noUi-handle::before,
.noUi-horizontal .noUi-handle::after {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.products {
  margin-bottom: 75px;
}

.products__container {
  max-width: 1005px;
  margin: auto;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__thumbnail {
  border-radius: 20px;
  border: 3px solid #26c6da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 263px;
  height: 230px;
  position: relative;
  margin-bottom: 20px;
}

.product__thumbnail .product__to-favorites {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

.product__thumbnail .product__ico-sale {
  position: absolute;
  top: 2px;
  right: 2px;
}

.product_sale__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product_sale__description ul li:not(:last-child) {
  margin-bottom: 10px;
}

.product_sale__description ul:not(:first-child) {
  text-align: right;
}

.product_sale__description ul:first-child li:last-child {
  font-size: 12px;
}

.product_sale__description li:first-child {
  font-weight: bold;
  font-size: 14px;
}

.product_sale__description li.new-price {
  color: #ff5722;
  font-weight: bold;
  font-size: 16px;
}

.product_sale__description .old-price {
  font-size: 14px;
  color: #7d7d7d;
  text-decoration: line-through;
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.product__description ul li:not(:last-child) {
  margin-bottom: 10px;
}

.product__description ul:not(:first-child) {
  text-align: right;
}

.product__description li:first-child,
.product__description span {
  font-weight: bold;
  font-size: 14px;
}

.product__description ul:first-child li:last-child {
  font-size: 12px;
}

.product__btn {
  display: block;
  color: #ff5722;
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  border: 3px solid #26c6da;
  border-radius: 16.5px;
  text-align: center;
  margin-top: auto;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.product__btn:hover {
  background-color: #26c6da;
  color: #fff;
}

.product-item {
  margin-top: 90px;
  margin-bottom: 60px;
}

.product-item__container {
  max-width: 1020px;
  margin: auto;
}

.product-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.product-item__preview {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.product-item__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
}

.product-item__main-img {
  width: 100%;
  height: 283px;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid #26c6da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-item__main-img img {
  width: 100%;
  height: auto;
}

.product-item__other-image {
  height: 115px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-item__other-image img {
  max-width: 160px;
  height: auto;
}

.product-item__info-title {
  font-size: 28px;
  margin-bottom: 35px;
}

.product-item__info-price {
  display: inline-block;
  font-size: 28px;
  margin-bottom: 25px;
}

.product-item__info-price b {
  font-weight: bold;
}

.product-item__info ul li {
  margin-bottom: 15px;
}

.product-item__to-favorites {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}

.product-item__to-favorites::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
  bottom: 0;
  left: 0;
}

.product__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.product__buy-btn {
  margin-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 390px;
          flex: 0 0 390px;
  display: inline-block;
  background-color: #26c6da;
  border-radius: 20px;
  font-size: 28px;
  line-height: 59px;
  font-weight: bold;
  color: white;
  border: 3px solid #26c6da;
  text-align: center;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.product__buy-btn:hover {
  background-color: #fff;
  color: #26c6da;
}

.product__quantity {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  border: 3px solid #26c6da;
  border-radius: 20px;
  background-color: white;
}

.product__quantity > span {
  margin: 5px 0;
}

.product__quantity img {
  cursor: pointer;
}

#productCounterLess {
  display: none;
}

.product__try-btn {
  display: inline-block;
  width: 390px;
  background-color: #fff;
  border-radius: 20px;
  line-height: 62px;
  border: 3px solid #26c6da;
  text-align: center;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.product__try-btn:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.product-item__description-btns {
  margin-bottom: 50px;
}

.product-item__description-btn {
  display: inline-block;
  width: 195px;
  border-radius: 20px;
  border: 3px solid #26c6da;
  background-color: #fff;
  line-height: 62px;
  font-weight: bold;
  text-align: center;
}

.product-item__description-btn.active {
  color: #26c6da;
}

.product-item__description-btn.active > span {
  color: #26c6da;
}

.product-item__description-item {
  display: none;
}

.product-item__description-item.active {
  display: block;
}

.product-item__description-item table td {
  width: 225px;
  padding-bottom: 15px;
}

.registration {
  margin-bottom: 80px;
}

.registration__title {
  color: black;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__subtitle {
  font-weight: bold;
  margin-bottom: 40px;
}

.registration__form-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
  margin-bottom: 45px;
}

.registration__form input {
  width: 293px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  font-weight: bold;
  color: black;
  padding-left: 20px;
  margin-bottom: 30px;
  line-height: 38px;
  font-family: 'Montserrat', sans-serif;
}

.registration__form input:not([type="submit"]):focus {
  border-color: #1e9faf;
}

.registration__form input::-webkit-input-placeholder {
  color: #979797;
}

.registration__form input::-moz-placeholder {
  color: #979797;
}

.registration__form input:-ms-input-placeholder {
  color: #979797;
}

.registration__form input::-ms-input-placeholder {
  color: #979797;
}

.registration__form input::placeholder {
  color: #979797;
}

.user-address__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}

.user-address__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__form > .registration__submit-btn {
  margin: auto;
  width: 360px;
  line-height: 54px;
  border: 3px solid #26c6da;
  background-color: #26c6da;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.registration__form > .registration__submit-btn:hover {
  color: #26c6da;
  background-color: #fff;
}

.profile {
  margin-bottom: 75px;
}

.profile__title {
  color: white;
}

.profile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__tabs {
  margin-right: 65px;
}

.profile__tabs a {
  display: block;
  width: 293px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  line-height: 38px;
  padding-left: 30px;
  margin-bottom: 25px;
  font-weight: bold;
  position: relative;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.profile__tabs a::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #26c6da;
  border-top: none;
  border-left: none;
  position: absolute;
  right: 14px;
  top: 45%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.profile__tabs a:hover {
  color: #26c6da;
}

.profile__info {
  margin-right: 125px;
}

.profile__info li {
  font-size: 28px;
}

.profile__info li:not(:last-child) {
  margin-bottom: 45px;
}

.profile__avatar {
  display: block;
  width: 182px;
  height: 182px;
}

.cart__title,
.cart__subtitle {
  color: black;
}

.cart__subtitle {
  font-weight: normal;
  margin-bottom: 30px;
}

.cart__products {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  margin: auto;
}

.cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__product-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 224px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cart__product-thumb .in-favorites {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.cart__product-desc {
  display: grid;
  grid-template-columns: 60% 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.cart__product-desc li:nth-child(even) {
  text-align: right;
}

.cart__product-desc li:nth-child(2),
.cart__product-desc li:first-child {
  font-weight: bold;
}

.cart__product-desc li:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

.cart__product-desc li:last-child {
  font-size: 12px;
}

.cart__product-remove__wrapper {
  text-align: center;
}

.cart__product-remove {
  font-size: 12px;
  text-align: center;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.cart__product-remove::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background-color: #000;
  width: 100%;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.cart__product-remove:hover {
  color: #26c6da;
}

.cart__product-remove:hover:after {
  background-color: #26c6da;
}

.cart__checkout {
  display: block;
  width: 360px;
  padding: 0 50px 3px;
  background-color: #26c6da;
  color: white;
  border: 3px solid #26c6da;
  border-radius: 20px;
  font-size: 28px;
  font-weight: bold;
  line-height: 57px;
  margin: 0 auto 70px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.cart__checkout:hover {
  color: #26c6da;
  background-color: #fff;
}

.checkout__tab-body {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  padding-left: 35px;
}

.checkout__tab-body.show {
  visibility: visible;
  opacity: 1;
  max-height: 30em;
  padding: 25px 0 50px 35px;
}

.checkout__tab {
  margin-bottom: 40px;
}

.checkout__tab:last-child {
  margin-bottom: 130px;
}

.checkout__tab-title {
  display: block;
  border: 3px solid #26c6da;
  border-radius: 20px;
  padding-left: 30px;
  font-weight: bold;
  line-height: 38px;
  height: 44px;
  width: 810px;
  position: relative;
}

.checkout__tab-title::before {
  position: absolute;
  top: 40%;
  right: 15px;
  content: '';
  height: 15px;
  width: 15px;
  border: 2px solid #26c6da;
  border-top: none;
  border-left: none;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.order-way__body {
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-way__new-user {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 5%;
}

.order-way__old-user {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.order-way__title {
  font-weight: bold;
  margin-bottom: 25px;
}

.new-user__form input {
  display: none;
}

.new-user__form input:checked + label:before {
  background-color: #26c6da;
}

.new-user__form > .new-user__form-group {
  margin-bottom: 20px;
}

.new-user__form > .new-user__form-group:nth-child(2) {
  margin-bottom: 60px;
}

.new-user__radio {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.new-user__radio::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #26c6da;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.continue__btn {
  display: block;
  width: 195px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.continue__btn:hover {
  background-color: #26c6da;
  color: #F0F0F0;
}

.order-way__old-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-way__old-user input {
  display: block;
}

.old-user__input {
  width: 390px;
  border: 3px solid #26c6da;
  margin-bottom: 20px;
  font: bold 14px/1 'Montserrat', sans-serif;
  padding-left: 10px;
  border-radius: 20px;
  line-height: 30px;
}

.old-user__form-btn {
  width: 195px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  background-color: #26c6da;
  color: #ffffff;
  font: bold 16px/1 'Montserrat', sans-serif;
  line-height: 35px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin: auto;
}

.old-user__form-btn:hover {
  color: #26c6da;
  background-color: #fff;
}

.payment-info__body {
  width: 830px;
}

.payment-info__form input,
.payment-info__form select,
.payment-info__form label {
  display: block;
}

.payment-info__form input,
.payment-info__form select {
  width: 100%;
  line-height: 30px;
  padding-left: 10px;
  border: 3px solid #26c6da;
  border-radius: 18px;
  margin-bottom: 20px;
}

.payment-info__form select {
  height: 36px;
  font: normal 16px/1 'Montserrat', sans-serif;
}

.payment-info__form label {
  margin-bottom: 5px;
}

.payment-info__form-row {
  display: grid;
  grid-template-columns: repeat(2, 375px);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}

.payment-info__form-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.payment-info__form-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.delivery-method__title {
  margin: 40px 0 30px;
  font-weight: bold;
}

.delivery-method__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  margin-bottom: 20px;
}

.delivery-method__form input {
  display: none;
}

.delivery-method__form input:checked + label:before {
  background-color: #26c6da;
}

.delivery-method__form label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  margin-bottom: 20px;
}

.delivery-method__form label::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #26c6da;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.delivery-method__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-method__columns ul li {
  margin-bottom: 20px;
  font-weight: bold;
}

.payment-method__title {
  display: inline-block;
  margin-bottom: 25px;
}

.payment-method__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.payment-method__form input {
  display: none;
}

.payment-method__form input:checked + label:before {
  background-color: #26c6da;
}

.payment-method__form label:not([for="userComment"]) {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  margin-bottom: 30px;
}

.payment-method__form label:not([for="userComment"])::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #26c6da;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.payment-method__form label[for="userComment"] {
  margin-bottom: 10px;
}

.payment-method__form textarea {
  resize: none;
  height: 161px;
  width: 483px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  padding: 10px 20px;
  font: normal 16px/1.2 'Montserrat', sans-serif;
}

.order-confirm__table {
  display: grid;
  grid-template-columns: 270px 170px 100px 120px 125px 80px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.order-confirm__table ul li:first-child {
  font-weight: bold;
  margin-bottom: 35px;
}

.order-confirm__table ul {
  margin-bottom: 75px;
}

.order-confirm__table ul:nth-child(n+3) {
  text-align: center;
}

.order-confirm__body {
  width: 950px;
}

.checkout__submit-form {
  width: 296px;
  border-radius: 20px;
  border: 3px solid #26c6da;
  color: white;
  text-align: center;
  background-color: #26c6da;
  font: bold 16px/35px 'Montserrat', sans-serif;
  -webkit-transition: all .2s  ease;
  -o-transition: all .2s  ease;
  transition: all .2s  ease;
  display: block;
  margin: auto;
}

.checkout__submit-form:hover {
  background-color: #fff;
  color: #26c6da;
}

.thank-you {
  text-align: center;
}

.thank-you p {
  font-weight: bold;
  font-size: 28px;
  line-height: 110px;
  color: #26c6da;
  margin-bottom: 60px;
}

.thank-you__btn {
  display: inline-block;
  width: 423px;
  line-height: 52px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 3px solid #26c6da;
  border-radius: 20px;
  background-color: #26c6da;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-bottom: 250px;
}

.thank-you__btn:hover {
  color: #26c6da;
  background-color: #fff;
}

.shares__container {
  max-width: 945px;
  margin: auto;
}

.shares__title {
  color: #000000;
}

.stock {
  height: 196px;
  width: 939px;
  border: 3px solid #26c6da;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 45px;
  padding-right: 45px;
  margin-bottom: 90px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.2);
}

.stock__title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.1;
  max-width: 350px;
}

.stock__title strong {
  font-size: 56px;
  color: white;
}

.shares__container .stock:last-child .stock__title {
  text-align: center;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}